*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}




/* nav */
nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 19px;
}


.menu__item{
    display: inline;
    
}

.menu__desktop{
    margin: 0 120px;
}

.menu__item__link{
    flex-wrap: wrap;
    margin: 12px;
    padding: 9px;
    color: #264653;
    font-weight: bold;
    cursor: pointer;

    
}

.menu__item__link a{
    text-decoration: none;
}

.menu__item__link:hover{
    color: #e64921;
    
}


/* HEADER */
.introducao{
    display: flex;
    


}

.filmes{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.container__filmes{
    flex-wrap: wrap;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-self: center;
    justify-content: center;
    
}

.card{
    margin: 10px;
}

.card-img-top{
    width: 100%;
    max-width: 286px;
    height: 100%;
    max-height: 396px;
}

.icon__netflix{
  width: 100%;
  max-width: 20px;
}



/* footer */
/* footer{
    background-color: #264653;
    margin-top: 25px;
    font-size: 18px;
} */